@import 'prismjs/themes/prism-okaidia';
@import './source-code-pro';

$snippet-backgrounds: #3d561e #3c389d #992a19 #67441a #284c36 #38406a #1d5363 #542973 #9f2651 #62302b;
$foreground-color: #f8f8f2;
$transition-time : 300ms;
$dogear-width: 8vw;
$dogear-edge: $dogear-width * 1.41421356;
$dogear-color: #3C3D42;
$aspect: 100 / 56;

html {
  font-family: Sans-Serif;
  &, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
  }
  body {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  pre, code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    line-height: 1.5;
  }

  .snippet {
    position: relative;
    $sin45: 0.707106781;
    $snippet-width: 100vw;
    $snippet-height: $snippet-width / $aspect;
    width: $snippet-width;
    height: $snippet-height;
    /* max-height: 70%; */
    overflow: hidden;
    display: block;
    color: $foreground-color;
    @for $i from 1 to length($snippet-backgrounds) + 1 {
      &:nth-child(#{$i}) {
        background-color: nth($snippet-backgrounds, $i);
        .snippet-front-face-outer {
          background-color: nth($snippet-backgrounds, $i);
        }
      }
    }
    /**
     * The hardest thing about the front face is getting the lower right
     * edge to be clipped
     */
    .snippet-front-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transform: translateZ(0); /* Force the front face into it's own layer */
      .snippet-front-face-outer {
        width: $sin45 * ($snippet-width + $snippet-height);
        height: $sin45 * ($snippet-width - $dogear-edge + $snippet-height);
        transform-origin: ($sin45 * $snippet-height) top;
        transform: translateX(-$sin45 * $snippet-height) rotate(-45deg);
        overflow: hidden;
        .snippet-front-face-inner {
          transform-origin: left top;
          transform: translateX($sin45 * $snippet-height) rotate(45deg);
          width: $snippet-width;
          height: $snippet-height;
          background-size: auto 100%;
          background-repeat: no-repeat;
        }
      }
      @at-root {
        .snippet-flipper + .snippet-inner .snippet-front-face {
          transition: transform $transition-time linear;
          .snippet-front-face-inner {
            transition: margin-bottom $transition-time linear;
          }
        }
        .snippet-flipper:checked + .snippet-inner .snippet-front-face {
          transform: translate(-$snippet-width);
          .snippet-front-face-inner {
            margin-bottom: $snippet-width;
          }
        }
      }
    }
    .snippet-back-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      .snippet-back-face-inner {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .snippet-source-container {
          flex-grow: 1;
          width: 70%;
          max-width: 100%;
          overflow-x: auto;
          display: inline-block;
          margin: 18px;
        }
        .snippet-qr-code {
          flex-grow: 1;
          flex-shrink: 2;
          svg {
            width: 100%;
            height: auto;
            & > rect {
              display: none;
            }
            #p {
              /* TODO Inverted QR codes are not officially supported by the QR code
               * SPEC */
              /* fill: $foreground-color; */
            }
          }
        }
      }
    }
    /** Snippet flip mechanism **/
    input.snippet-flipper {
      display: none;
    }
    .snippet-dogear {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $dogear-color;
      width: $dogear-edge;
      height: $dogear-edge;
      color: $foreground-color;
      /* This element is only responsible for the drop shadow */
      &:before {
        content: "";
        display: block;
        position: absolute;
        width: $dogear-edge;
        height: $dogear-edge;
        box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, .3);
      }
      /* Display centered text "click to see code" */
      & > span {
        text-align: center;
        position: absolute;
        display: block;
        width: 100%;
        top: 50%;
        left: 50%;
        transform-origin: center;
        transform: translateX(-50%) translateY(-50%) rotate(-45deg) translateY(-80%);
      }
    }
  }
}
