@import 'prismjs/themes/prism-okaidia';
@import './source-code-pro';

$snippet-backgrounds: #3d561e #3c389d #992a19 #67441a #284c36 #38406a #1d5363 #542973 #9f2651 #62302b;
$foreground-color: #f8f8f2;

html {
  &, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  pre, code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    line-height: 1.5;
  }

  .snippet {
    /* max-height: 70%; */
    overflow: hidden;
    display: block;
    color: $foreground-color;
    @for $i from 1 to length($snippet-backgrounds) + 1 {
      &:nth-child(#{$i}) {
        background-color: nth($snippet-backgrounds, $i);
      }
    }
    .snippet-front-face {
      width: 100%;
      height: auto;
    }
    .snippet-back-face {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .snippet-source-container {
      display: inline-block;
    }
    .snippet-qr-code {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }
}

svg {
  & > rect {
    display: none;
  }
  #p {
    /* TODO Inverted QR codes are not officially supported by the QR code
     * SPEC */
    /* fill: $foreground-color; */
  }
}
