@import 'prismjs/themes/prism-okaidia';
@import './source-code-pro';

$snippet-backgrounds: #3d561e #3c389d #992a19 #67441a #284c36 #38406a #1d5363 #542973 #9f2651 #62302b;
$foreground-color: #f8f8f2;
$transition-time : 300ms;
$dogear-width: 8vw;
$dogear-edge: $dogear-width * 1.41421356;
$aspect: 100 / 56;

html {
  &, body {
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: 100%;
  }

  a {
    color: initial;
    text-decoration: none;
  }

  pre, code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    line-height: 1.5;
  }

  .snippet {
    position: relative;
    width: 100%;
    height: (1 / $aspect) * 100vw;
    /* max-height: 70%; */
    overflow: hidden;
    display: block;
    color: $foreground-color;
    @for $i from 1 to length($snippet-backgrounds) + 1 {
      &:nth-child(#{$i}) {
        background-color: nth($snippet-backgrounds, $i);
      }
    }
    .snippet-front-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .snippet-front-face-inner {
        width: 100%;
        height: 100%;
        background-size: auto 100%;
        background-repeat: no-repeat;
        -webkit-clip-path: polygon(100% 0, 100% calc(100% - #{$dogear-edge}), calc(100% - #{$dogear-edge}) 100%, 0 100%, 0 0);
        clip-path: polygon(100% 0, 100% calc(100% - #{$dogear-edge}), calc(100% - #{$dogear-edge}) 100%, 0 100%, 0 0);
      }
    }
    .snippet-back-face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .snippet-back-face-inner {
        position: relative;
        width: 100%;
        height: 100%;

        .snippet-source-container {
          display: inline-block;
        }
        .snippet-qr-code {
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }
    }
    /** Snippet flip mechanism **/
    input.snippet-flipper {
      display: none;
      & + .snippet-inner {
        .snippet-front-face {
          transition: width $transition-time linear;
        }
      }
      &:checked + .snippet-inner {
        & {
          & > .snippet-front-face {
            width: 0;
          }
        }
      }
    }
    .snippet-dogear-outer {
      position: absolute;
      bottom: 0;
      right: 0;
      transition: bottom $transition-time, right ($transition-time * 2) linear, transform ($transition-time * 2) linear;
      .snippet-dogear {
        $offset: $dogear-width * 1.41421356; /* This is 1/sin(45deg) */
        color: $foreground-color;
        transform-origin: 14.644661% 29.2893219%;
        transform: rotate(-45deg);
        &:before {
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-width: 0 $dogear-width $dogear-width $dogear-width;
          border-style: solid;
          border-color: transparent;
          border-bottom-color: #3C3D42;
        }
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: $dogear-edge;
          height: $dogear-edge;
          transform-origin: left top;
          transform: rotate(-45deg);
          box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, .3);
        }
        & > span {
          white-space: nowrap;
          position: absolute;
          display: block;
          bottom: 5%;
          left: 50%;
          transform: translateX(-50%);
        }
        @at-root {
          .snippet-flipper:checked + .snippet-inner .snippet-dogear-outer {
            transform-origin: right -41.421356%;
            right: 200%;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}

svg {
  & > rect {
    display: none;
  }
  #p {
    /* TODO Inverted QR codes are not officially supported by the QR code
     * SPEC */
    /* fill: $foreground-color; */
  }
}
