<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Code snippets</title>
    <link rel="stylesheet" href="{{page-root}}styles.css" type="text/css">
  </head>
  <body>
    {{> snippets }}
  </body>
</html>
