<div class="snippet">
  <img src="/assets/{{name}}.png" class="snippet-front-face" />
  <div class="snippet-back-face">
    <pre class="snippet-source-container">
      <code>
        {{> code }}
      </code>
    </pre>
    <div class="snippet-qr-code">
      {{> qr.svg }}
    </div>
  </div>
</div>
<!--
<a href="{{url}}">
</a>
-->
